body{
	background-color: #085BA7;
}

#welcome, #fangate, #step0, #step1, #step2, #step3{
	/*width: 100%;
	height: 100%;
	z-index: 1000;*/
	position: relative;
	/*top: 15%;
	left: 0px;*/
	background-image: url('../img/bg0.jpg');
	background-repeat: no-repeat;
	width: 801px;
	height: 805px;
	margin: 0 auto; 
}
#fangate {
	background-image: url('../img/fangate.jpg');
}
#step0 {
	background-image: url('../img/step0.jpg');
}
#step1 {
	background-image: url('../img/step1.jpg');
}
#step2 {
	background-image: url('../img/step2.jpg');
}
#step3 {
	background-image: url('../img/step3.jpg');
}
#btnlike, #btnjoin, #btntakepic {
	width: 313px;
	height: 87px;
	position: absolute;
	left: 115px;
	top: 450px;
	cursor: pointer;
}
#btntakepic {
	width: 330px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#btnok {
	width: 255px;
	height: 67px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 538px;
	cursor: pointer;
}
#btntwitter, #btnfacebook {
	position: absolute;
	cursor: pointer;
	width: 80px;
	height: 80px;
	top: 462px;
}
#btntwitter {
	left: 327px;
}
#btnfacebook {
	right: 307px;
}
#score {
	border: 0;
	background: transparent;
	text-align: center;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 24px;
	position: absolute;
	padding: 0px;
	height: 98px;
	width: 340px;
	top: 398px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#timmer{
	width: 380px;
	height: 36px;
	position: absolute;
	left: 80px;
	top: 480px;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	padding: 15px 0px 0px;
}

#btnverbases{
	position: absolute;
	top: 680px;
	left: 42px;
	width: 552px;
	height: 88px;
	cursor: pointer;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	/* Styles */
	#welcome, #fangate, #step0, #step1, #step2, #step3{
		width: 100%;
		height: 100%;
		z-index: 1000;
		position: absolute;
		top: 15%;
		left: 0px;
		background-image: url('../img/bg0_max480.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	#fangate {
		background-image: url('../img/fangate.jpg');
	}
	#step0 {
		background-image: url('../img/step0.jpg');
	}
	#step1 {
		background-image: url('../img/step1.jpg');
	}
	#step2 {
		background-image: url('../img/step2.jpg');
	}
	#step3 {
		background-image: url('../img/step3.jpg');
	}
	#timmer{
		width: 150px;
		height: 36px;
		position: absolute;
		left: 10%; /*45px;*/
		top: 35%; /*32%;*/
		cursor: pointer;
		font-family: sans-serif;
		font-weight: bolder;
		font-size: 18px;
		text-align: center;
		padding: 15px 0px 0px;
	}
	#btnlike, #btnjoin, #btntakepic {
		top: 37%;
		left: 14%;
		height: 35px;
		width: 125px;
	}
	#btntakepic {
		left: 0;
	}
	#btnok {
		width: 32%;
		height: 30px;
		top: 44%;
	}
	#btntwitter, #btnfacebook {
		position: absolute;
		cursor: pointer;
		width: 30px;
		height: 30px;
		top: 38%;
	}
	#btntwitter {
		left: 41%;
	}
	#btnfacebook {
		right: 39%;
	}
	#score {
		height: 45px;
		width: 38%;
		top: 32%;
	}
	#btnverbases{
		position: absolute;
		top: 56%;
		left: 3%;
		width: 80%;
		height: 40px;
		cursor: pointer;
	}
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
	#welcome, #fangate, #step0, #step1, #step2, #step3 {
		min-height: 460px;
	}
	#timmer{
		width: 150px;
		height: 36px;
		position: absolute;
		left: 18%; /*45px;*/
		top: 59%; /*32%;*/
		cursor: pointer;
		font-family: sans-serif;
		font-weight: bolder;
		font-size: 18px;
		text-align: center;
		padding: 15px 0px 0px;
	}
	#btnlike, #btnjoin, #btntakepic {
		width: 186px;
		height: 51px;
		position: absolute;
		left: 14%;
		top: 58%;
		cursor: pointer;
	}
	#btntakepic {
		left: 0;
	}
	#btnok {
		width: 32%;
		height: 43px;
		top: 69%;
	}
	#btntwitter, #btnfacebook {
		position: absolute;
		cursor: pointer;
		width: 50px;
		height: 50px;
		top: 59%;
	}
	#btntwitter {
		left: 40%;
	}
	#btnfacebook {
		right: 39%;
	}
	#score {
		height: 45px;
		width: 38%;
		top: 52%;
	}
	#btnverbases{
		position: absolute;
		top: 88%;
		left: 3%;
		width: 80%;
		height: 50px;
		cursor: pointer;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px){
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px){
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
/* Styles */
	#welcome, #fangate, #step0, #step1, #step2, #step3{
	/*width: 100%;
	height: 100%;
	z-index: 1000;*/
	position: relative;
	/*top: 15%;
	left: 0px;*/
	background-image: url('../img/bg0.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	display: block;
	margin: 0 auto; 
	}
	#fangate {
		background-image: url('../img/fangate.jpg');
	}
	#step0 {
		background-image: url('../img/step0.jpg');
	}
	#step1 {
		background-image: url('../img/step1.jpg');
	}
	#step2 {
		background-image: url('../img/step2.jpg');
	}
	#step3 {
		background-image: url('../img/step3.jpg');
	}
	#timmer{
		top: 56%;
		left: 8%;
	}
	#btnlike, #btnjoin, #btntakepic {
		width: 290px;
		height: 80px;
		position: absolute;
		left: 108px;
		top: 418px;
		cursor: pointer;
	}
	#btntakepic {
		left: 0;
	}
	#btnok {
		width: 255px;
		height: 67px;
		top: 497px;
	}
	#btntwitter, #btnfacebook {
		position: absolute;
		cursor: pointer;
		width: 72px;
		height: 72px;
		top: 428px;
	}
	#btntwitter {
		left: 306px;
	}
	#btnfacebook {
		right: 295px;
	}
	#score {
		height: 98px;
		width: 275px;
		top: 366px;
	}
	#btnverbases{
		left: 3%;
		top: 630px;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
/* Styles */
	#welcome, #fangate, #step0, #step1, #step2, #step3{
	/*width: 100%;
	height: 100%;
	z-index: 1000;*/
	position: relative;
	/*top: 15%;
	left: 0px;*/
	background-image: url('../img/bg0.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	display: block;
	margin: 0 auto; 
	background-position: top center;
	}
	#fangate {
		background-image: url('../img/fangate.jpg');
	}
	#step0 {
		background-image: url('../img/step0.jpg');
	}
	#step1 {
		background-image: url('../img/step1.jpg');
	}
	#step2 {
		background-image: url('../img/step2.jpg');
	}
	#step3 {
		background-image: url('../img/step3.jpg');
	}
	#timmer{
		top: 61%;
		left: 17%;
	}
	#btnlike, #btnjoin, #btntakepic {
		top: 56%;
		left: 21%;
		height: 85px;
		width: 314px;
	}
	#btntakepic {
		left: 0;
	}
	#btnok {
		width: 255px;
		height: 67px;
		top: 538px;
	}
	#btntwitter, #btnfacebook {
		position: absolute;
		cursor: pointer;
		width: 78px;
		height: 78px;
		top: 462px;
	}
	#btntwitter {
		left: 428px;
	}
	#btnfacebook {
		right: 416px;
	}
	#score {
		height: 98px;
		width: 295px;
		top: 398px;
	}
	#btnverbases{
		left: 14%;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px){
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px){
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5){
/* Styles */
}









/*#welcome{
	width: 810px;
	height: 800px;
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -405px;
	background-image: url('../img/bg0.jpg');
	background-repeat:no-repeat;
	z-index: 1000;
}
#timmer{
	width: 436px;
	height: 81px;
	position: absolute;
	left: 50px;
	top: 480px;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 45px;
	text-align: center;
	padding: 15px 0px 0px 0px;
}
#btnverbases{
	position: absolute;
	top: 680px;
	left: 42px;
	width: 552px;
	height: 88px;
	cursor: pointer;
}*/
