body{
	background-color: #085BA7;
}

#welcome, #fangate, #step0, #step1, #step2, #step3, #vote0{
	position: relative;
	background-image: url('../img/bg0.jpg');
	background-repeat: no-repeat;
	width: 801px;
	height: 805px;
	margin: 0 auto;
	display: none;
}

#likecanvas{
	display: none;
	position: relative;
	left:20%;
	margin-left: -10%;
	width:80%;
	top: 5%;
	height: 70%;
	background-color: white;
}

#close{
	position: absolute;
	top: 0px;
	right: 0px;
	color: #000000;
	padding: 5px;
	font-size: 14px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif
}

#fangate {
	background-image: url('../img/fangate.jpg');
}

#step0 {
	background-image: url('../img/step0.jpg');
}

#step1 {
	background-image: url('../img/step1.jpg');
}

#step2 {
	background-image: url('../img/step2.jpg');
}

#step3 {
	background-image: url('../img/step3.jpg');
}

#vote0 {
	background-image: url('../img/vote0.jpg');
}

#btnlike, #btnjoin, #btntakepic {
	width: 313px;
	height: 87px;
	position: absolute;
	left: 115px;
	top: 450px;
	cursor: pointer;
}

#btntakepic {
	width: 330px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#btnok {
	width: 255px;
	height: 67px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 538px;
	cursor: pointer;
}

#btntwitter, #btnfacebook {
	position: absolute;
	cursor: pointer;
	width: 80px;
	height: 80px;
	top: 462px;
}

#btntwitter {
	left: 327px;
}

#btnfacebook {
	right: 307px;
}

#imagenpersona {
	position: absolute;
	top: 265px;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 300px;
	width: 300px;
	overflow: hidden;
}

#imagenpersona img {
	width: 100%;
	height: auto;
	display: block;
}

#milagropunto {
	position: absolute;
	top: 590px;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: #fff;
	width: 80%;
	text-align: center;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 24px;
}

#btnvotar {
	position: absolute;
	top: 635px;
	color: #fff;
	border-radius: 10px;
	background-color: #f39905;
	border: 1px solid #fff;
	padding: 12px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100px;
	text-decoration: none;
}

#btnenviar {
	position: absolute;
	top: 635px;
	color: #fff;
	border-radius: 10px;
	background-color: #f39905;
	border: 1px solid #fff;
	padding: 12px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100px;
	text-decoration: none;
}

#graciasvoto {
	font-size: 27px;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	color: #c5d220;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 635px;
	position: absolute;
}

#score {
	border: 0;
	background: transparent;
	text-align: center;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 24px;
	position: absolute;
	padding: 0px;
	height: 98px;
	width: 340px;
	top: 398px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#timmer{
	width: 380px;
	height: 36px;
	position: absolute;
	left: 80px;
	top: 480px;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	padding: 15px 0px 0px;
}

.btnverbases{
	position: absolute;
	top: 680px;
	left: 42px;
	width: 552px;
	height: 88px;
	cursor: pointer;
}

/* Iphone 6 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px){
}

/* Iphone 6 Plus */
@media only screen and (min-device-width : 540px) and (max-device-width : 960px){
}

/* Smartphones (portrait and landscape) ----- iPhone 2G-4S ----- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	/* Styles */
	#welcome, #fangate, #step0, #step1, #step2, #step3, #vote0{
		width: 100%;
		height: 100%;
		z-index: 1000;
		position: absolute;
		top: 15%;
		left: 0px;
		background-image: url('../img/bg0_max480.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		display: none;
	}

	#fangate {
		background-image: url('../img/fangate.jpg');
	}

	#step0 {
		background-image: url('../img/step0.jpg');
	}

	#step1 {
		background-image: url('../img/step1.jpg');
	}

	#step2 {
		background-image: url('../img/step2.jpg');
	}

	#step3 {
		background-image: url('../img/step3.jpg');
	}

	#vote0 {
		background-image: url('../img/vote0.jpg');
	}

	#timmer{
		width: 150px;
		height: 36px;
		position: absolute;
		left: 10%; /*45px;*/
		top: 35%; /*32%;*/
		cursor: pointer;
		font-family: sans-serif;
		font-weight: bolder;
		font-size: 18px;
		text-align: center;
		padding: 15px 0px 0px;
	}

	#btnlike, #btnjoin, #btntakepic {
		top: 37%;
		left: 14%;
		height: 35px;
		width: 125px;
	}

	#btntakepic {
		left: 0;
	}

	#btnok {
		width: 32%;
		height: 30px;
		top: 44%;
	}

	#btntwitter, #btnfacebook {
		position: absolute;
		cursor: pointer;
		width: 30px;
		height: 30px;
		top: 38%;
	}

	#btntwitter {
		left: 41%;
	}

	#btnfacebook {
		right: 39%;
	}

	#imagenpersona {
		top: 20%;
		height: 100px;
		width: 100px;
	}

	#milagropunto {
		top: 44%;
		font-size: 14px;
	}

	#btnvotar {
		top: 49%;
		padding: 5px;
		font-size: 13px;
	}

	#btnenviar {
		top: 49%;
		padding: 5px;
		font-size: 13px;
	}

	#graciasvoto {
		top: 49%;
		font-size: 16px;
	}

	#score {
		height: 45px;
		width: 38%;
		top: 32%;
	}

	.btnverbases{
		position: absolute;
		top: 56%;
		left: 3%;
		width: 80%;
		height: 40px;
		cursor: pointer;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 370px) and (max-width: 480px) {
/* Styles */
	#welcome, #fangate, #step0, #step1, #step2, #step3, #vote0 {
		min-height: 460px;
		display: none;
	}

	#timmer{
		width: 150px;
		height: 36px;
		position: absolute;
		left: 18%; /*45px;*/
		top: 59%; /*32%;*/
		cursor: pointer;
		font-family: sans-serif;
		font-weight: bolder;
		font-size: 18px;
		text-align: center;
		padding: 15px 0px 0px;
	}

	#btnlike, #btnjoin, #btntakepic {
		width: 186px;
		height: 51px;
		position: absolute;
		left: 14%;
		top: 58%;
		cursor: pointer;
	}

	#btntakepic {
		left: 0;
	}

	#btnok {
		width: 32%;
		height: 43px;
		top: 69%;
	}

	#btntwitter, #btnfacebook {
		position: absolute;
		cursor: pointer;
		width: 50px;
		height: 50px;
		top: 59%;
	}

	#btntwitter {
		left: 40%;
	}

	#btnfacebook {
		right: 39%;
	}

	#score {
		height: 45px;
		width: 38%;
		top: 52%;
	}

	#imagenpersona {
		top: 34%;
		height: 150px;
		width: 150px;
	}

	#milagropunto {
		top: 71%;
		font-size: 14px;
	}

	#btnvotar {
		top: 78%;
		padding: 5px;
		font-size: 13px;
	}

	#btnenviar {
		top: 49%;
		padding: 5px;
		font-size: 13px;
	}

	#graciasvoto {
		top: 78%;
		font-size: 16px;
	}

	.btnverbases{
		position: absolute;
		top: 88%;
		left: 3%;
		width: 80%;
		height: 50px;
		cursor: pointer;
	}
}

@media only screen and (min-width : 321px) and (max-width: 361px) {
	#imagenpersona {
		top: 18%;
		height: 120px;
		width: 120px;
	}

	#milagropunto {
		top: 39%;
		font-size: 14px;
	}

	#btnvotar {
		top: 43%;
		padding: 5px;
		font-size: 13px;
	}

	#btnenviar {
		top: 43%;
		padding: 5px;
		font-size: 13px;
	}

	#graciasvoto {
		top: 43%;
		font-size: 16px;
	}

	#timmer {
		top: 30%;
		left: 12%;
	}

	#btnlike, #btnjoin, #btntakepic {
		top: 31%;
		height: 40px;
		width: 140px;
	}

	.btnverbases {
		top: 47%;
	}

	#score {
		top: 28%;
	}

	#btnok {
		top: 37%;
	}

	#btntwitter, #btnfacebook {
		top: 32%;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px){
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px){
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  and (orientation : portrait){
/* Styles */
	#welcome, #fangate, #step0, #step1, #step2, #step3, #vote0{
		position: relative;
		background-image: url('../img/bg0.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		display: block;
		margin: 0 auto;
		display: none;
	}

	#fangate {
		background-image: url('../img/fangate.jpg');
	}

	#step0 {
		background-image: url('../img/step0.jpg');
	}

	#step1 {
		background-image: url('../img/step1.jpg');
	}

	#step2 {
		background-image: url('../img/step2.jpg');
	}

	#step3 {
		background-image: url('../img/step3.jpg');
	}

	#vote0 {
		background-image: url('../img/vote0.jpg');
		background-size: 101% 101%;
	}

	#timmer{
		top: 56%;
		left: 8%;
	}

	#btnlike, #btnjoin, #btntakepic {
		width: 290px;
		height: 80px;
		position: absolute;
		left: 108px;
		top: 418px;
		cursor: pointer;
	}

	#btntakepic {
		left: 0;
	}

	#btnok {
		width: 255px;
		height: 67px;
		top: 497px;
	}

	#btntwitter, #btnfacebook {
		position: absolute;
		cursor: pointer;
		width: 72px;
		height: 72px;
		top: 428px;
	}

	#btntwitter {
		left: 306px;
	}

	#btnfacebook {
		right: 295px;
	}

	#imagenpersona {
		top: 240px;
		height: 300px;
		width: 300px;
	}

	#milagropunto {
		top: 560px;
	}

	#btnvotar {
		top: 610px;
		padding: 8px;
	}

	#btnenviar {
		top: 610px;
		padding: 8px;
	}

	#graciasvoto {
		top: 620px;
	}

	#score {
		height: 98px;
		width: 275px;
		top: 366px;
	}

	.btnverbases{
		left: 3%;
		top: 630px;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
/* Styles */
	#welcome, #fangate, #step0, #step1, #step2, #step3, #vote0{
		position: relative;
		background-image: url('../img/bg0.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		display: block;
		margin: 0 auto; 
		background-position: top center;
		display: none;
	}

	#fangate {
		background-image: url('../img/fangate.jpg');
	}

	#step0 {
		background-image: url('../img/step0.jpg');
	}

	#step1 {
		background-image: url('../img/step1.jpg');
	}

	#step2 {
		background-image: url('../img/step2.jpg');
	}

	#step3 {
		background-image: url('../img/step3.jpg');
	}

	#vote0 {
		background-image: url('../img/vote0.jpg');
	}

	#timmer{
		top: 61%;
		left: 17%;
	}

	#btnlike, #btnjoin, #btntakepic {
		top: 56%;
		left: 21%;
		height: 85px;
		width: 314px;
	}

	#btntakepic {
		left: 0;
	}

	#btnok {
		width: 255px;
		height: 67px;
		top: 538px;
	}

	#btntwitter, #btnfacebook {
		position: absolute;
		cursor: pointer;
		width: 78px;
		height: 78px;
		top: 462px;
	}

	#btntwitter {
		left: 428px;
	}

	#btnfacebook {
		right: 416px;
	}

	#imagenpersona {
		top: 240px;
		height: 300px;
		width: 300px;
	}

	#milagropunto {
		top: 560px;
	}

	#btnvotar {
		top: 610px;
		padding: 8px;
	}

	#btnenviar {
		top: 610px;
		padding: 8px;
	}

	#graciasvoto {
		top: 620px;
	}

	#score {
		height: 98px;
		width: 295px;
		top: 398px;
	}

	.btnverbases{
		left: 14%;
	}
}

@media only screen and (min-width : 979px) and (max-width: 981px) {
	#score {
		top: 49%;
	}
}

@media only screen and (min-width : 799px) and (max-width: 801px) {
	#score {
		top: 48%;
	}
}
