body{
	background-color: #085BA7;
}

#welcome{
	/*width: 100%;
	height: 100%;
	z-index: 1000;*/
	position: relative;
	/*top: 15%;
	left: 0px;*/
	background-image: url('../img/bg0.jpg');
	background-repeat: no-repeat;
	width: 801px;
	height: 805px;
	margin: 0 auto; 
}

#timmer{
	width: 380px;
	height: 36px;
	position: absolute;
	left: 80px;
	top: 480px;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	padding: 15px 0px 0px;
}

#btnverbases{
	position: absolute;
	top: 680px;
	left: 42px;
	width: 552px;
	height: 88px;
	cursor: pointer;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	/* Styles */
	#welcome{
		width: 100%;
		height: 100%;
		z-index: 1000;
		position: absolute;
		top: 15%;
		left: 0px;
		background-image: url('../img/bg0_max480.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	#timmer{
		width: 150px;
		height: 36px;
		position: absolute;
		left: 10%; /*45px;*/
		top: 35%; /*32%;*/
		cursor: pointer;
		font-family: sans-serif;
		font-weight: bolder;
		font-size: 18px;
		text-align: center;
		padding: 15px 0px 0px;
	}
	#btnverbases{
		position: absolute;
		top: 56%;
		left: 3%;
		width: 80%;
		height: 40px;
		cursor: pointer;
	}
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
	#welcome {
		min-height: 460px;
	}
	#timmer{
		width: 150px;
		height: 36px;
		position: absolute;
		left: 18%; /*45px;*/
		top: 59%; /*32%;*/
		cursor: pointer;
		font-family: sans-serif;
		font-weight: bolder;
		font-size: 18px;
		text-align: center;
		padding: 15px 0px 0px;
	}
	#btnverbases{
		position: absolute;
		top: 88%;
		left: 3%;
		width: 80%;
		height: 50px;
		cursor: pointer;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px){
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px){
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
/* Styles */
	#welcome{
	/*width: 100%;
	height: 100%;
	z-index: 1000;*/
	position: relative;
	/*top: 15%;
	left: 0px;*/
	background-image: url('../img/bg0.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	display: block;
	margin: 0 auto; 
	}
	#timmer{
		top: 56%;
		left: 8%;
	}
	#btnverbases{
		left: 3%;
		top: 630px;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
/* Styles */
	#welcome{
	/*width: 100%;
	height: 100%;
	z-index: 1000;*/
	position: relative;
	/*top: 15%;
	left: 0px;*/
	background-image: url('../img/bg0.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	display: block;
	margin: 0 auto; 
	background-position: top center;
	}
	#timmer{
		top: 61%;
		left: 17%;
	}
	#btnverbases{
		left: 14%;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px){
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px){
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5){
/* Styles */
}









/*#welcome{
	width: 810px;
	height: 800px;
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -405px;
	background-image: url('../img/bg0.jpg');
	background-repeat:no-repeat;
	z-index: 1000;
}
#timmer{
	width: 436px;
	height: 81px;
	position: absolute;
	left: 50px;
	top: 480px;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 45px;
	text-align: center;
	padding: 15px 0px 0px 0px;
}
#btnverbases{
	position: absolute;
	top: 680px;
	left: 42px;
	width: 552px;
	height: 88px;
	cursor: pointer;
}*/
